.logos-wrapper.wrapper {
    width: 60%;
    align-items: center;
    gap: 40px;
}

.section .form-wrapper {
    color: var(--black);
    flex-direction: column;
    background-color: var(--yellow);
}

.section .form-wrapper label {
    font-weight: 700;
    margin-top: 20px;
}

.section .form-wrapper input {
    background-color: var(--white);
    border: none;
    border-radius: 6px;
}

.section .form-wrapper .btn {
    background-color: var(--primary);
}

.section .form-wrapper .small {
    font-size: 14px;
    text-align: center;
}